{%load static%}  
        <div class="intro">
            <img class="banner" src="{% static 'media/logochicoloapan.png' %}" alt="Gobierno de Chicoloapan">
        </div>


        <div class="column">
            <span>
                <h5 class="titulos">¿Que hacemos?</h5>
            </span>

            <p>
                En la Coordinación de Alumbrado Público y Electrificaciones del Gobierno de Chicoloapan, trabajamos para
                brindar un servicio eficiente, seguro y sostenible de iluminación pública en beneficio de la comunidad.
                Nuestras principales funciones son:
                Mantenimiento preventivo y correctivo de luminarias en calles, avenidas, parques y espacios públicos.
                Instalación de nuevos puntos de luz en zonas que lo requieren, priorizando la seguridad y bienestar de
                los ciudadanos.
                Supervisión y modernización del sistema de alumbrado, incorporando tecnologías eficientes y amigables
                con el medio ambiente, como luminarias LED.
            </p>
        </div>
        <div class="column">
            <span>
                <h5 class="titulos">¿Por que lo hacemos?</h5>
            </span>

            <p>
                Porque una ciudad bien iluminada es una ciudad más segura, más habitable y más justa. En Chicoloapan,
                muchas colonias aún enfrentan carencias en infraestructura eléctrica y alumbrado, lo que afecta la
                calidad de vida, la seguridad vial y la tranquilidad de las familias.
                Trabajamos para cerrar esa brecha, garantizar el derecho a servicios públicos dignos y fomentar espacios
                seguros, transitables y funcionales para todas y todos. Además, impulsamos el uso eficiente de la
                energía para reducir costos y cuidar el medio ambiente.
                Nuestro objetivo es claro: construir un Chicoloapan más iluminado, seguro y equitativo.
            </p>
        </div>
